<p id="notice"><%= notice %></p>

<div class="home">
	<div class="user_info">
	  <h2><%= @person.proper_name %></h2>
	</div>

	<div class="orders">
	  <h4> Orders </h4>
	  <table>
	    <thead>
	      <tr>
	        <th>You Owe</th>
	        <th>Order Info</th>
	        <th>Created By</th>
	      </tr>
	    </thead>
	  <% @my_orders.each do |order| %>
	    <tr>
	      <td><%= order.get_user_cost(current_user) %></td>
	      <td><%= order.description %></td>
	      <td><%= order.person.proper_name %></td>
	    </tr>
	  <% end %>
	  </table>
	</div>
</div>