<p id="notice"><%= notice %></p>

<div class="row">
	<div class="five_offset">
		<div class="five_col">
		  <h2><%= @person.proper_name %></h2>
		</div>
		<br><br>
		<div class="five_col">
		  <h4>Total Owed: $ <%= @outstanding %></h4>
		</div>
	</div>

	<div class="five_col">
	  <h4> Your Orders </h4>
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Total Cost</th>
	        <th>You Owe</th>
	        <th>Order Info</th>
	      </tr>
	    </thead>
	  <% @created_orders.each do |order| %>
	    <tr>
	      <td><%= order.get_total_cost %></td>
	      <td><%= order.get_user_cost(current_user) %></td>
	      <td><%= link_to order.description, order_path(order) %></td>
	    </tr>
	  <% end %>
	  </table>
	  <h4> Items You Split </h4>
	  <table class="table">
	    <thead>
	      <tr>
	        <th>You Owe</th>
	        <th>Item Info</th>
	        <th>Order Info</th>
	        <th>Creator</th>
	      </tr>
	    </thead>
	  <% @my_items.each do |item| %>
	    <tr>
	      <td><%= item.cost %></td>
	      <td><%= item.description %></td>
	      <td><%= link_to item.order.description, order_path(item.order) %></td>
	      <td><%= item.order.person.proper_name %></td>
	    </tr>
	  <% end %>
	  </table>
	</div>
</div>