<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="group">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="group">
    <%= link_to 'Back', orders_path, class: "blue_button" %>
    <%= f.submit %>
  </div>
<% end %>
