<% if notice != nil %>
  <div class="alert">
   <%= notice %>
  </div>
<% end %>

<div class="row">
  <div class="five_offset">
    <h1><%= @order.description %></h1>
  </div>
  <br><br>
  <div class="one_med_offset">
    <h1>$ <%= @order.get_total_cost %></h1>
  </div>
</div>
<div id="item_list">
  <%= render partial: "list_of_items" %>
</div>
<div class="two_ten">
  <%= link_to(new_order_item_path(order_id: @order.id), id: "new_item_link", class: "green_button", remote: true) do %>
    Add Item
  <% end %>
</div>
<br>
<% if @order.person == current_user %>
  <div class="three_nine"
    <div class="group">
      <%= link_to 'Edit Order', edit_order_path(@order), class: "blue_button" %>
      <%= link_to 'Delete', @order, method: :delete, data: { confirm: 'Are you sure?' }, class: "red_button" %>
    </div>
  </div>
<% end %>